<div class="container">
    <div class="card" style="border-radius: 10px; border: 2px solid black;">
        <div class="card-body">
            <p class="text-justify" style="color: black; background-color:white;">{{{content}}}</p>
        </div>
    </div>
</div>