<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>PAC-MAN</title>
    <style>
        body {background-color: #000000}
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 4%;
        }
        #title{
            text-align: center;
            color: white;
            font-size: 4em;
            line-height: 0;
        }
        .text{
            text-align: center;
            color: white;
        }
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        #registerbutton {
            position: fixed;
            top: 5px;
            right: 5px;
            font-size: 24px;
            background-color: black;
            color: white;
            border: 2px solid white;
        }
        #submitbutton {
            font-size: 24px;
            background-color: black;
            color: white;
            border: 2px solid white;
        }
        #errortext {
        color: red
         }
    </style>
</head>

<body>
    <p id="title">PAC-MAN</p>
    <img class="logo" src="Assets/logo.png">

<a href = "/register"><button type="button" id="registerbutton">REGISTER</button></a>

<form class="text" method="post" action="/login">
    <label style="font-size: 2em">LOGIN</label><br>
    <input type="text" name="username" placeholder="Username" maxlength="12" required>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" id="submitbutton" value="Play Now">
    <p id ="errortext">{{errortext}}</p>
</form>

<marquee direction="right" style="padding-top: 10%"><img src="Assets/animated.gif" height="80" width="80"></marquee>

</body>
<footer id="footer">
    <p class="text">A <i>better</i> project by Francis Gau, Cody Sayer, Sahil Desai, and Cody Chand</p>
</footer>
</html>