<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>PAC-MAN</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <p id="title">PAC-MAN</p>
    <img class="logo" src="Assets/logo.png">

<a href = "/register"><button type="button" id="registerbutton">REGISTER</button></a>

<form class="text" method="post" action="/login">
    <label style="font-size: 2em">LOGIN</label><br>
    <input type="text" name="username" placeholder="Username" maxlength="12" required>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" id="submitbutton" value="Play Now">
    <p id ="errortext">{{errortext}}</p>
</form>

<marquee direction="right" style="padding-top: 10%"><img src="Assets/animated.gif" height="80" width="80"></marquee>

</body>
<footer id="footer">
    <p class="text">A project by Francis Gau, Brody Voth, and Tuan Vo</p>
</footer>
</html>