<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>PAC-MAN</title>
    <style>
        body {background-color: #000000}
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 4%;
        }
        #title{
            text-align: center;
            color: white;
            font-size: 4em;
            line-height: 0;
        }
        .text{
            text-align: center;
            color: white;
        }
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        #homebutton {
            position: fixed;
            top: 5px;
            right: 5px;
            font-size: 24px;
            background-color: black;
            color: white;
            border: 2px solid white;
        }
        #submitbutton {
            font-size: 24px;
            background-color: black;
            color: white;
            border: 2px solid white;
        }

        #errortext {
            color: red
        }
    </style>
</head>

<body>
    <p id="title">PAC-MAN</p>
    <img class="logo" src="Assets/logo.png">

<a href = "/"><button type="button" id="homebutton">HOME</button></a>

<form class="text" method="post" action="/register">
    <label style="font-size: 2em">REGISTER</label><br>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" id="submitbutton" value="Create Account">
    <p id ="errortext">{{errortext}}</p>
</form>

<marquee direction="left" style="padding-top: 10%"><img src="Assets/ghost.gif" height="80" width="80"></marquee>

</body>
<footer id="footer">
    <p class="text">Copyright 2019</p>
</footer>
</html>